html {
    font-family: serif;
}

@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        display: flex;
        flex-direction: column;
        margin: 25mm 25mm 25mm 25mm;
    }
}

body {
    width: 21cm;
    height: 29.7cm;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
}

.skills-col {
    width: 50%;
    margin: 1rem;
}

.other {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#work-experience {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.section-title {
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid black;
}

.spaced-line {
    display: flex;
    justify-content: space-between;
}

.job {
    margin-left: 1rem;
}

.job-info {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.job-info-title {
    font-weight: bold;
    font-size: large;
    width: 15rem;
}

.job-info-address {
    width: 15rem;
}

.certifications {
    margin-bottom: 1rem;
}

.projects {
    border-left: 1px solid black;
    margin-left: 1rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.project {
    margin-left: 1rem;
}

.project-info {
    display: flex;
    margin-bottom: 0.3rem;
    margin-top: 0.8rem;
}

.project-title {
    font-weight: bold;
}

.project-duration {
    margin-left: 1rem;
}

.project-duration::before {
    content: '(';
}

.project-duration::after {
    content: ')';
}

.project-desc {}

.project-split {
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.project-detail {
    width: 100%;
    margin-right: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding-left: 0.5rem;
}

ul li::marker {
    content: '\2013';
}

.indent-1 {
    margin-left: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}

.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
}

.created-with {
    margin-top: 1rem;
    font-style: italic;
}

.bar {
    height: 0.5rem;
    background-color: slategray;
}

.bar-5 {
    width: 100%;
}

.bar-4 {
    width: 80%;
}

.bar-3 {
    width: 60%;
}

.bar-2 {
    width: 40%;
}

.bar-1 {
    width: 20;
}